<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div id="div" class="flex flex-col items-center  bg-gray-100 p-4 rounded-lg shadow-md space-y-4" >
    <div class="flex items-center border-2 border-purple-500 rounded-lg overflow-hidden w-full max-w-4xl">
      <input type="text" name="search" id="search" class="px-4 py-2 flex-1 focus:outline-none" placeholder="Search...">
      <button type="submit" id="searchbutton" class="bg-purple-600 text-white px-4 py-2 hover:bg-purple-700 transition-colors">Suchen</button>
    </div>
    
    <div class="flex w-full max-w-4xl">
      <h1>Wähle deine Kategorie aus</h1> <br>
      </div>
      <div class="flex w-full justify-center space-x-4">
          <a href="/s/Antiquitäten & Kunst/<%= query%>" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Antiquitäten & Kunst</a>
          <a href="/s/Audio, TV & Video/<%= query%> " class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Audio, TV & Video</a>
          <a href="/s/Baby & Kind/<%= query%>" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Baby & Kind</a>
          <a href="/s/Bücher/<%= query%>" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Bücher</a>
          <a href="/s/Fahrzeuge" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Fahrzeuge</a>
        </div>
  </div>



  <form id="form" action="/" method="POST" class="flex flex-col items-center  bg-gray-100 p-4 rounded-lg shadow-md space-y-4" >
    <div class="flex items-center border-2 border-purple-500 rounded-lg overflow-hidden w-full max-w-4xl">
      <input type="text" name="search" id="search" class="px-4 py-2 flex-1 focus:outline-none" placeholder="Search...">
      <button type="submit" id="searchbutton" class="bg-purple-600 text-white px-4 py-2 hover:bg-purple-700 transition-colors">Suchen</button>
    </div>
    
    <div class="flex w-full max-w-4xl">
      <h1>Wähle deine Kategorie aus</h1> <br>
      </div>
      <div class="flex w-full justify-center space-x-4">
          <a href="/s/Antiquitäten & Kunst/<%= query%>" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Antiquitäten & Kunst</a>
          <a href="/s/Audio, TV & Video/<%= query%> " class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Audio, TV & Video</a>
          <a href="/s/Baby & Kind/<%= query%>" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Baby & Kind</a>
          <a href="/s/Bücher/<%= query%>" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Bücher</a>
          <a href="/s/Fahrzeuge/<%= query%>" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Fahrzeuge</a>
        </div>
  </form>






    <script>

// Get the current URL
var currentPath = window.location.pathname;
let formdiv = document.getElementById('form');
let mydiv = document.getElementById('div');
if (currentPath !== "/") {
  let actionpage =  document.getElementById("form");
  actionpage.parentNode.removeChild(actionpage);
}else{
  let actionpage =  document.getElementById("div");
  actionpage.parentNode.removeChild(actionpage);
}

      document.getElementById('searchbutton').addEventListener('click', function() {
        const url = new URL(window.location.href);
 // Get the input element by its ID
 var inputElement = document.getElementById('search');

// Get the value of the input element
var inputValue = inputElement.value;
// Create or update query parameters
url.searchParams.set('search', inputValue); // Replace 'paramName' with the parameter name and 'newValue' with the value you want

// Update the URL and reload the page
window.location.href = url;
      
       
      });
     </script>


</body>
</html>