<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test
    </h1>

   asdf
    <%=testid %>

     <!----   <div>
      <% if (images.length > 0) { %>
        <% images.forEach(image => { %>
          <div>
            <h2><%= image.name %></h2>
            <img src="data:<%= image.contentType %>;base64,<%= image.data.toString('base64') %>" alt="<%= image.name %>">
          </div>
        <% }) %>
      <% } else { %>
        <p>Keine Bilder gefunden</p>
      <% } %>
    </div>

  -->
</body>
</html>