<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" href="/src/public/css/index.css">

 <style>
 
</style>
</head>
<body>

  <header>
    <h2>Willkommen auf repli.ch</h2>
    <nav>
      <a href="login">Registrieren</a>
      <a href="register">Login</a>
    </nav>
  </header>

  <main>
    <h1>Auktionen</h1>
    <div class="upload-link">
      <a href="create">Bild hochladen</a>
    </div>
    <div class="auction-cards">
      <% if (auctions.length > 0) { %>
        <% auctions.forEach(auc => { %>
          <div class="card">
            <h3><%= auc.titel %></h3>
            <h4>Startgebot: <%= auc.startbit %></h4>
            <a href="http://localhost:5000/au/<%= auc.uuid%>">
              <img class="resize" src="data:<%= auc.img.contentType %>;base64,<%= auc.img.data.toString('base64') %>">
            </a>
          </div>
        <% }) %>
      <% } %>
    </div>
  </main>

</body>
</html>