<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction erstellen</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
      h2{
        text-emphasis-color:  #4CAF50;
      }
    </style>
</head>
<body >
  <%- include('includes/header.ejs') %>
 

  <div class="pt-10"></div>
  <div class="max-w-xl mx-auto bg-white p-8 border-2 border-purple-500 rounded-lg shadow-lg">
    <div class="text-center">
      <h2 class="text-purple-600 text-xl font-semibold mb-4">Bilder hochladen</h2>
    </div>
    <form action="/create" method="POST" enctype="multipart/form-data" class="space-y-6">
      <div class="text-center grid grid-cols-3 gap-4">
       
        <label 
        id="image1"
        class="relative flex items-center justify-center w-24 h-24 mx-auto border border-gray-300 rounded-md cursor-pointer hover:bg-gray-50 transition bg-cover bg-center"
        style="background-image: url('/uploads/');">
       <p id="icon1"> Hauptbild</p>
        <input type="file" name="image" class="hidden" id="image1" accept="image/*"> 
      </label>

      <% for (var i =2; i <=6;  i++ ) { %>
        <label 
        id="image<%=i%>"
        class="relative flex items-center justify-center w-24 h-24 mx-auto border border-gray-300 rounded-md cursor-pointer hover:bg-gray-50 transition bg-cover bg-center"
        style="background-image: url('/uploads/');">
        <svg id="icon<%=i%>" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg>
        
        <input type="file" name="image" class="hidden" id="image<%=i%>" accept="image/*"> 
      </label>
        
        <% } %>
      
      </div>

      <div>
        <h2 class="text-purple-600 text-xl font-semibold mb-2">Startprei</h2>
        <input type="number" min="1" max="1000000" name="startbit" class="w-full border border-gray-300 rounded-md p-3 focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition">
      </div>
      
  
      <div>
        <h2 class="text-purple-600 text-xl font-semibold mb-2">Laufzeit</h2>
        <input type="number" min="7" max="14" name="time" id="time" class="w-full border border-gray-300 rounded-md p-3 focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition">
      </div>
  
      
      <div>
        <h2 class="text-purple-600 text-xl font-semibold mb-2">Kategorie</h2>
        <select id="options" name="options" class="w-full border border-gray-300 rounded-md p-3 focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition">
          <option value="Antiquit채ten & Kunst">Antiquit채ten & Kunst</option>
          <option value="Audio, TV & Video">Audio, TV & Video</option>
          <option value="Baby & Kind">Baby & Kind</option>
          <option value="B체cher">B체cher</option>
          <option value="Fahrzeuge">Fahrzeuge</option>
          <option value="option6">Option 6</option>
          <option value="option7">Option 7</option>
          <option value="option8">Option 8</option>
        </select>
      </div>
  
      <div>
        <h2 class="text-purple-600 text-xl font-semibold mb-2">Titel</h2>
        <input type="text" name="titel" id="titel"  class="w-full border border-gray-300 rounded-md p-3 focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition">
      </div>
  
      <div>
        <h2 class="text-purple-600 text-xl font-semibold mb-2">Beschreibung</h2>
        <textarea name="description" class="w-full border border-gray-300 rounded-md p-3 focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition resize-none" rows="4"></textarea>
      </div>
  
      <div>
        <input type="submit" value="Upload" class="bg-purple-600 text-white rounded-md p-3 w-full cursor-pointer hover:bg-purple-700 transition">
      </div>
    </form>
  </div>
  <div class="pt-10"></div>
  <script>
    for (let i = 1; i <= 6; i++) {
      document.getElementById('image'+[i]).addEventListener('change', function(event) {
      if (event.target.files && event.target.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById('image'+[i]).style.backgroundImage = 'url(' + e.target.result + ')';
          document.getElementById('icon'+[i]).style.display = 'none';
        };
        reader.readAsDataURL(event.target.files[0]);
      }
    });
} 

  </script>
      <%- include('includes/footer.ejs') %>
</body>
</html>