<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
</head>
<body>
                
    <section style="max-width: 42rem; padding: 2rem 1.5rem; margin: 0 auto; background-color: #ffffff; background-color: var(--color-gray-900);">
    
        <main style="margin-top: 2rem;">
            <h2 style="color: #4a5568; color: var(--color-gray-200);">Hallo <%=name %>,</h2>
            <div style="display: flex; align-items: center; margin-top: 1rem; gap: 1rem;">
                <a href="localhost:5000/loginauth/<%=id%>/<%= name %>">Verifylink</a>
            </div>
            <a href="http://localhost:5000/loginauth/<%=id%>/<%= name %>">
                <button style="padding: 0.5rem 1.5rem; margin-top: 1.5rem; font-size: 0.875rem; font-weight: 500; text-transform: capitalize; background-color: #3b82f6; border-radius: 0.5rem; color: #ffffff; transition: background-color 0.3s ease; outline: none; box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);">
                    Veryfy Email
                </button>
                </a>
            
 
            
            <p style="margin-top: 2rem; color: #718096; color: var(--color-gray-300);">
                Vielen Dank, <br>
                Repli.ch
            </p>
        </main>
        <footer style="margin-top: 2rem;">
            <p style="color: #a0aec0; color: var(--color-gray-400);">
                Weitere Infos? <a href="#" style="color: #3b82f6; text-decoration: underline; color: var(--color-blue-400);" target="_blank">admin@repli.ch</a>.  
            </p>
    
            <p style="margin-top: 0.75rem; color: #a0aec0; color: var(--color-gray-400);">© Repli.ch. All Rights Reserved.</p>
        </footer>
    </section>
    
        
</body>
</html>