<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col  h-screen"> 
  <%- include('../../includes/header.ejs') %>
  <main class="container mx-auto p-4  content-center">

   
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-center mb-5">
      
      
      <div class="card bg-white shadow-md rounded-lg p-3 flex flex-col items-center">
        <a href="/au/<%= auctions._id%>" class="mb-4 w-full">
          <div class="w-full h-64 flex items-center justify-center overflow-hidden rounded-lg">
            <img class="object-cover w-full h-full" src="/uploads/<%= auctions.img[0] %>" alt="<%= auctions.titel %>">
          </div>
        </a>
        <h3 class="text-xl font-bold text-gray-900 mb-2">Preis: <%= auctions.startbit %></h3>
        <h4 class="text-lg text-gray-600 mb-4"><%= auctions.titel %></h4>
        <p class="text-gray-600 text-sm text-center"><%= auctions.description %></p>
      </div>
      
    </div>
  
  
    <div class="bg-gray-100 p-5 rounded-lg shadow-md">
      <h1 class="text-2xl font-semibold text-gray-800 mb-4">Bitte kontaktiere den Käufer um möglichst schnell die Auktion abzuschließen</h1>
      
    
      <div class="flex items-center mb-4">
          <img class="w-16 h-16 rounded-full mr-4" src="/uploads/<%=buyer.img%>" alt="user photo">
        <div>
          <h2 class="text-lg font-bold"><%= buyer.name %></h2>
          <h1 class="text-gray-800">Email</h1>
          <p class="text-gray-600"><%= buyer.email %></p>
          <h1 class="text-gray-800">Telephone</h1>
          <p class="text-gray-600"><%= buyer.phone %></p>
        </div>
      </div>
 
      <p class="font-medium text-purple-600 mb-4"> Auktion Status : 
        <%= auctions.status == 1 ? "Warte auf Bezahlung" : auctions.status == 2 ? "Noch zu Liefern" : auctions.status == 3 ? "Gesendet" : "Abgeschlossen" %>
      </p>
  
   
      <form action="/aufinish/c/<%= auctions._id%>" method="post">
        <% if (auctions.status == 2) { %>
          <button class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-full">
            Geliefert
          </button>
        <% } else if (auctions.status == 1) { %>
          <h1 class="text-xl  text-gray-600">Warte auf Bezhalung des Käufers</h1>
        <% } else if (auctions.status == 2) { %>
          <h1 class="text-xl  text-gray-600">Auktion ist ist Bezahlt</h1>
        <% } else { %>
          <h1 class="text-xl  text-gray-600">Auktion ist Abgeschlossen</h1>
        <% } %>
      </form>
    </div>
    
  </main>
  <%- include('../../includes/footer.ejs') %>
</body>
</html>