<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <script> 
        function timeleft(milliseconds,_id) {
          milliseconds = parseInt(milliseconds);
                  const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
                  if(milliseconds - Date.now() <= 0)return "Auktion beendet am " + new Date((milliseconds)).toLocaleDateString(undefined,options);
                
                  if ( milliseconds - Date.now() > 86400000) return new Date(milliseconds).toLocaleDateString(undefined, options);
                  
                  const now = Date.now();
                  const remainingTime = milliseconds - now;
                  let h = Math.floor(remainingTime / 3600000);
                  let m = Math.floor((remainingTime % 3600000) / 60000);
                  let s = Math.floor((remainingTime % 60000) / 1000);
                  return `${h} Stunden ${m} Minuten ${s} Sekunden`;
              }
              const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
              function setTime(milliseconds,_id){
                const timerElement = document.getElementById(`timer-`+_id);
                timerElement.innerText =timeleft(milliseconds,_id)
                const countdown = setInterval(() => {
                  
                  if ((milliseconds - Date.now()) < 0) {
                            clearInterval(countdown);
                            timerElement.innerText = timeleft(milliseconds,_id)
                        }
                
                timerElement.innerText =timeleft(milliseconds,_id)
                },1000);
              }
           
        </script>
</head>
<body class="flex flex-col  h-screen">
    <%- include('../../includes/header.ejs') %>
    <%- include('../../includes/tabs.ejs',type) %>

    <main class="container mx-auto p-4 sm:p-6 lg:p-8">
      <p class="text-lg sm:text-xl lg:text-2xl">Auktionen, welche du geboten hast</p>
      <div class="auction-table w-full overflow-x-auto">
        <% if (auctions.length > 0) { %>
          <table class="w-full table-auto border-collapse hidden sm:table">
            <% auctions.forEach(auc => { %>
              <tr class="bg-white border-b">
                <td class="px-4 py-2">
                  <a href="/au/<%= auc._id%>">
                    <div class="w-24 h-24 sm:w-32 sm:h-32 lg:w-48 lg:h-48 flex items-center justify-center overflow-hidden">
                      <img class="object-cover w-full h-full" src="/uploads/<%= auc.img[0] %>" alt="<%= auc.titel %>">
                    </div>
                  </a>
                </td>
                <td class="px-4 py-2 text-gray-900 font-bold text-sm sm:text-base lg:text-lg"><%= auc.titel %></td>
                <td class="px-4 py-2 text-gray-600 text-sm sm:text-base lg:text-lg"><%= auc.startbit %></td>
                <td class="px-4 py-2 text-gray-600 text-sm sm:text-base lg:text-lg" id="timer-<%= auc._id %>">
                  <script>
                    setTime("<%= auc.timestamp %>", "<%= auc._id %>");
                  </script>
                </td>
                <td class="px-4 py-2">
                  <button class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-full text-xs sm:text-sm lg:text-base">
                    <a href="/au/<%= auc._id%>">Zur Auktion</a>
                  </button>
                </td>
              </tr>
            <% }) %>
          </table>
          
          <div class="grid grid-cols-1 sm:hidden">
            <% auctions.forEach(auc => { %>
              <div class="bg-white border rounded-lg p-4 shadow mb-4">
                <a href="/au/<%= auc._id%>">
                  <div class="w-full h-48 flex items-center justify-center overflow-hidden mb-4">
                    <img class="object-cover w-full h-full" src="/uploads/<%= auc.img[0] %>" alt="<%= auc.titel %>">
                  </div>
                </a>
                <h3 class="text-gray-900 font-bold text-sm sm:text-base lg:text-lg mb-2"><%= auc.titel %></h3>
                <p class="text-gray-600 text-sm sm:text-base lg:text-lg mb-2">Startgebot: <%= auc.startbit %></p>
                <div class="text-sm sm:text-base lg:text-lg mb-2" id="timer-<%= auc._id %>">
                  <script>
                    setTime("<%= auc.timestamp %>", "<%= auc._id %>");
                  </script>
                </div>
                <button class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-full text-xs sm:text-sm lg:text-base">
                  <a href="/au/<%= auc._id%>">Zur Auktion</a>
                </button>
              </div>
            <% }) %>
          </div>
        <% } %>
      </div>
    </main>


    <%- include('../../includes/footer.ejs') %>
</body>
</html>